<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
  <div class="center-container">
  <%= image_tag "TickItLogoEmpty.png", alt: "Logo", class: "d-block mx-auto custom-logo" %>

  <div class="card p-4" style="width: 400px;">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'd-flex flex-column align-items-center' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3 w-100">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary w-100' %>
      </div>
    <% end %>
  </div>

  <div class="mt-4 devise-links text-center">
      <%= render "devise/shared/links" %>
  </div>
</div>
