<%= turbo_stream.update "remote_modal_body" do %>
  <h2>Current Balance: <%= number_to_currency(current_user.wallet_balance, unit: '£', precision: 2) %>  </h2>
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h3>Transaction History</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Date & Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @recent_transactions.each do |transaction| %>
                                    <tr>
                                        <td><%= transaction.transaction_type.capitalize %></td>
                                        <td><%= number_to_currency(transaction.amount, unit: '£', precision: 2) %></td>
                                        <td><%= transaction.date_time.strftime('%B %d, %Y at %I:%M %p') %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <br>

            <div class="d-flex justify-content-center">
                <div class="inline-buttons">
                    <%= button_to "Deposit", deposit_wallet_path, method: :post, class: "btn btn-success" %>
                    <%= button_to "Withdraw", withdrawal_wallet_path, method: :post, class: "btn btn-danger" %>
                </div>
            </div>
<% end %>