<div class="container">
    <% if current_user %>
        <div style="position: absolute; top: 25px; right: 25px;">
          <div class="btn btn-primary" style="display: inline-block; margin-right: 10px;">
            Balance: <%= number_to_currency(current_user.wallet_balance, unit: '£', precision: 2) %>
          </div>
          <div class="btn btn-primary" style="display: inline-block;">
            <%= current_user.email %>
          </div>
        </div>
        <div class="header-section">
            <%= image_tag 'TickItLogoEmpty.png', alt: 'Logo', class: 'custom-logo-top-left' %>
            <hr class="divider">
        </div>
        <div class="container">
            <div class="row">
              <% @items.each do |item| %>
                <div class="col-md-3">
                  <div class="card" style="width: 18rem; margin-left: 45px; margin-bottom: 45px;">
                    <img class="card-img-top"><%= image_tag(item.image) %></img>
                    <div class='card-body'>
                      <h5 class="card-title"><%= item.description %></h5>
                      <% remaining_tickets = (item&.max_tickets || 0) - (item&.tickets&.count || 0) %>
                      <%= remaining_tickets %> ticket(s) left
                      <% if author_of(item) %>
                        <div class="absolute top-0 right-0 mt-2 mr-2">
                          <%= form_with url: item_path(item), method: :delete, local:true do %>
                            <%= button_tag type: 'submit' do %>
                              <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                            <% end %>
                          <% end %>
                        </div>
                      <% else %>
                        <div class="absolute top-0 right-0 mt-2 mr-2">
                          <%= form_with url: item_tickets_path(item_id: item.id), method: :post do %>
                            <%= submit_tag "Buy Ticket" %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
        <div class="sign-out-container">
            <%= link_to "Sell an Item", new_item_path, class: "btn btn-primary" %>
            <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-danger" %>
        </div>
    <% else %>
        <div class="center-container">
            <%= image_tag 'TickItLogoEmpty.png', alt: 'Logo', class: 'custom-logo' %>
            <p>You are not signed in</p>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %> <br>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
        </div>
    <% end %>

</div>

<div style="position: absolute; top: 25px; right: 25px;">
    <div class="btn btn-primary" style="display: inline-block; margin-right: 10px;">
        Balance: <%= number_to_currency(current_user.wallet_balance, unit: '£', precision: 2) %>
    </div>
    <div class="btn btn-primary" style="display: inline-block;">
        <%= current_user.email %>
    </div>
</div>

