<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="text-center">
    <div class="center-container">
      <%= form_with(model:@item, html: { class: 'text-center' }) do |form| %>

        <%= render "remote_modal", title: "Sell an Item" do %>

          <div class="field mb-3">
            <%= form.label :description %><br />
            <%= form.text_field :description, class: 'form-control' %>
          </div>

          <div class="field mb-3">
            <%= form.label :sell_goal, "Sell Goal (£)" %><br />
            <%= form.number_field :sell_goal, class: 'form-control' %>
          </div>

          <div class="field mb-3">
            <%= form.label :image %><br />
            <%= form.file_field :image, class: 'form-control' %> <br />
          </div>

          <div class="actions">
            <%= link_to "Back to items", root_path, class: 'btn btn-danger' %>
            <%= form.submit "Post Item", data: {turbo: false}, class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
